.main{
  padding-top: 100px;
}
.heading {
  padding: 20px;
  z-index: 1;
}
@media screen and (min-width: 601px) {
  .heading {
    font-size: 75px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 25px;
  }
}
.heading1 {
  padding: 20px;
}
@media screen and (min-width: 601px) {
  .heading1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .heading1 {
    font-size: 50px;
  }
}
.heading2 {
  padding: 20px;
  font-weight: bold;
  z-index: 1;
}
@media screen and (min-width: 601px) {
  .heading2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .heading2 {
    font-size: 30px;
  }
}
.bttn{
    background-color: transparent;
    border-radius: 50px;
    border:2px solid white;
    color:white;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}
.bttn1{
    background-color: transparent;
    border-radius: 50px;
    border:2px solid rgb(197, 6, 6);
    color:rgb(197, 6, 6);
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}
.bttn1:hover{
    border:2px solid  brown;
    color: brown;
}

.accordion-button.no-hover-bg:hover,
.accordion-button.no-hover-bg:not(.collapsed):hover,
.accordion-button.no-hover-bg:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}
.cards{
  background-color: #27d383;
  border-radius: 20px;
}
  .icon-circle {
    background: white;
    padding: 20px;
    border-radius: 50%;
    display: flex;             /* use flexbox */
    align-items: center;       /* vertically center icon */
    justify-content: center;   /* horizontally center icon */
    width: 64px;               /* fixed width */
    height: 64px;              /* fixed height to make circle */
    box-sizing: border-box;    /* include padding inside width/height */
    cursor: pointer;           /* pointer cursor on hover */
    transition: background-color 0.3s ease;
  }
    .icon-circle i {
    color: #000;               /* icon color */
    font-size: 24px;           /* icon size */
  }
  .icon-circle:hover {
    background: #eee;          /* subtle hover effect */
  }
